html, body {
	/* background: #e5e5e5; */
	font-family: sans-serif;
}

.month {
	width: 300px;
	padding: 20px;
	background: #fff;
	position: relative;
	overflow: hidden;
	float: left;
	margin: 20px;
	height: 350px;
}
.month h3 {
	text-align: center;
	margin: -20px -20px 30px -20px;
	padding: 20px 0;
	background: red;
	color: #fff;
}

.day, .dow, .dummy-day {
	display: inline-block;
	width: 12.7864%;
	/* float: left; */
	text-align: center;
	margin-right: 1.5%;
}

.dow {
	font-weight: bold;
	margin-bottom: 10px;
}

.day {
	color: #333;
	cursor: pointer;
	box-shadow: inset 0 0 0 1px #eee;
}
.day.weekend {
	background: pink;
}
.day:hover {
	background: yellow;
}

.day, 
.dummy-day {
	height: 40px;
	line-height: 40px;
	margin-bottom: 1.5%;
	background: #a5d2ff;
}

.dummy-day {
	background: #f5f5f5;
	color: #ccc;
}

/*------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a:link,
a:visited {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  color: #696868;
  text-decoration: underline;
}


.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
  color: #5D6063;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px #696868;
  padding: 0px 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu {
  border: 1px solid #fff;
  height: 60px;
  width: auto;
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 300px;
/*  background-color: #fff4e1;*/
}

.text-title {
  width: auto;
  color: #000000;
/*  background-color: #faebd7;*/
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

.navigator {
/*  border: 1px solid #fff;*/
/*  background-color: #dddddd;*/
  height: 20px;
  width: auto;
  display: flex;
  justify-content: flex-start; 
  flex-wrap: wrap;
  overflow-y: auto;
}

.navigator li {
  display: inline;
  padding: 3px;
  margin-right: 5px;
  margin-bottom: 2px;
  background-color: #dddddd;
  border-bottom: 1px solid #d2d0d1;
  border-right: 1px solid #d2d0d1;
  border-radius: 0 5px 0 0;
  box-shadow: 2px 2px 5px #d2d0d1;
  font-size: 10px;
  font-weight: bold;
  color: #151414;
}

.navigator li a:link ,
.navigator li a:visited{
  color: #151414;
  text-decoration: none;
}
.navigator li a:hover {
  color: #696868;
  text-decoration: underline;
}

.page {
/*  position: relative;*/
  margin-top: 100px;
  padding: 0px 5px;
  /* height: 1000px; */
  width: 100%;
  display: flex;
  justify-content: center;
  color: #151414;
  flex-wrap: wrap;
  overflow-x: auto;
}


.page-usersetting {
  padding-top: 10px;
  width: 100%;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-usersetting-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-usersetting-other{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 12px;
}

.page-usersetting-other a{
  margin-right: 5px;
}

.page-usersetting-condition {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
/*  height: 25px;*/
/*  align-items: baseline;*/
}

.condition-item {
  margin-right: 15px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.condition-item label{
  margin-right: 3px;
}

.condition-item input[type='text']{
  background-color: #f0efef;
  border: 1px solid #b4b3b3;
  border-radius: 3px;
  height: 100%;
  width: 80px;
}

.condition-item select{
  width: auto;
  background-color: #f0efef;
  border: 1px solid #b4b3b3;
  border-radius: 3px;
  height: 100%;
  font-size: 100%;
  padding: 0 3px;
}

.condition-item button{
  width: auto;
  height: 100%;
  padding: 2px 5px;
  background-color: #f0efef;
  border: 1px solid #b4b3b3;
  border-radius: 3px;
  font-size: 100%;
  font-weight: bold;
}

.colorbox {
  width: 15px;
  height: 15px;
  margin-right: 2px;
  border-radius: 2px;
/*  border: 1px solid rgba(0, 0, 0, .2);*/
}

.bluebox {
  background: #1e90ff;
}

.pinkbox {
  background: pink;
}

.lightbluebox {
  background: #a5d2ff;
}

.infolist {
  margin-top: 10px;
}

.infolist ul{
  padding-left: 20px;
  color: #696868;
  list-style: disc;
}

.infolist li a:link ,
.infolist li a:visited{
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.infolist li a:hover {
  color: #696868;
  text-decoration: underline;
}