/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

.page {
  position: relative;
  left: 0;
  transition: 0.3s;
  width: 100%;
  height: 100%;
}

.header-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
  background-color: #ffffff;
  z-index: 1000;
}

.header-logo-wrapper {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-pic {
  width: 55px;
  height: 70px;
}

.header-logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.nav-block {
  display: none;
}

.sidebar-page {
  width:20%;
  display: flex;
  justify-content: flex-end;
}

.sidebar-button {
  width: 50%;
  border: none;
  background-color: #ffffff;
  font-size: 26px;
  cursor: pointer;
}

.sidebar-wrapper {
/*  display: none;*/
  position: fixed;
  transition: 0.3s;
  right: -150px;
  width: 100px;
  /*height: 800px;*/
  background-color: #ffffff;
}

.sidebar-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-nav-item {
  border: none;
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.sidebar-nav-item > a:hover {
  color: #696868;
  text-decoration: none;
}

.contact-item {
  border: 2px solid #000000;
  color: #191919;
}

.article-block {
  position: relative;
  margin-top: 90px;
  width: 100%;
  min-height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.show-block {
  background-image: url(images/back_big.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.slideshow-container {
  /*max-width: 1000px;*/
  width: 100%;
  position: relative;
  /*margin: auto;*/
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #bbb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color:#717171;
}

/* The dots/bullets/indicators */
.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.article-intro {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.article-intro > p {
  width: 50%;
  text-align: center;
  word-break:  normal;
  font-family: 'Raleway', sans-serif;
  line-height: 150%;
}

.photo-grid-container {
  margin-top: 5%;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-grid-item {
  border: 1px solid #ffffff;
  background-color: #d3dfe2;
  width: 300px;
  height: 300px;
}

.footer-block {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #ebf8fc;
  display: flex;
  flex-direction: column;
}




@media only screen and (min-width: 900px) {
  /* 當螢幕寬度大於 700px 時的規則 */
  p {
    font-size: 1.4em;
  }
  
  .sidebar-page {
    display: none;
  }
  
  .header-logo-wrapper {
/*    background-color: gainsboro;*/
  }
  
  .nav-block {
/*    background-color:bisque;*/
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }
  
  .option-nav {
/*    background-color:yellowgreen;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .option-nav-item {
    font-weight: normal;
    padding: 2px;
    font-family: 'Raleway', sans-serif;
  }
  
  .option-nav-item > a:link,
  .option-nav-item > a:visited {
    color: #000000;
    text-decoration: none;
    /*font-weight: normal;*/
  }
  
  .option-nav-item > a:hover {
    color: #696868;
    text-decoration: none;
  }
  

}
